<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="DaysHome" value="Tues;Fri;"/>
    <add key="URL" value="https://[HERE].peoplehr.net/"/>
  </appSettings>
</configuration>